.description-section {
    padding: 10px;
    background-color: #0A9291;
    text-align: center;
}

.description-text-container {
    display: inline-block;
    width: 100%;
    max-width: 327px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

.description-title {
    font-weight: 700;
    @media screen and (max-width: 139px) {
        font-size: 8px;
    }
    @media screen and (min-width: 140px) and (max-width: 146px) {
        font-size: 10px;
    }
    @media screen and (min-width: 147px) and (max-width: 163px) {
        font-size: 13px;
    }
    @media screen and (min-width: 164px) {
        font-size: 15px;
    }
    line-height: 18px;
    color: #FFFFFF;
}

.description-text {
    font-weight: 400;
    @media screen and (max-width: 139px) {
        font-size: 6px;
    }
    @media screen and (min-width: 140px) and (max-width: 163px) {
        font-size: 8px;
    }
    @media screen and (min-width: 147px) and (max-width: 163px) {
        font-size: 10px;
    }
    @media screen and (min-width: 164px) {
        font-size: 12px;
    }
    line-height: 14px;
    color: #FFFFFF;
}

