.footer-section {
    padding-top: 22px;
    padding-right: 22px;
    padding-bottom: 7px;
    padding-left: 28px;
    @media screen and (max-width: 374px) {
        text-align: center;
    }
}

@media screen and (max-width: 374px) {
    .footer-container {
        display: inline-block;
        width: 100%;
        max-width: 182px;
    }
}

.footer-contacts-container {
    display: inline-block;
    width: 100%;
    @media screen and (max-width: 230px) {
        max-width: 140px;
    }
    @media screen and (min-width: 231px) and (max-width: 374px) {
        max-width: 181px;
    }
    @media screen and (min-width: 375px) {
        max-width: 325px;
    }
    margin-bottom: 24px;
    border-left: 1px solid #000000;
    // transform: rotate(90deg);
}

.footer-contacts-logo {
    width: 18px;
    height: 12px;
}

.footer-contacts-word {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.adress-container {
    margin-bottom: 14px;
}

.footer-contacts-adress-logo {
    width: 22px;
    height: 22px;
}

.footer-contacts-adress {
    display: inline-block;
    width: 100%;
    @media screen and (max-width: 374px) {
        max-width: 130px;
    }
    @media screen and (min-width: 375px) {
        max-width: 109px;
        margin-right: 34px;
    }
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.footer-contacts-email-logo {
    @media screen and (max-width: 374px) {
        width: 21px;
        height: 21px;
    }
    @media screen and (min-width: 375px) {
        width: 19px;
        height: 19px;
    }
}

.footer-contacts-email {
    display: inline-block;
    font-family: Roboto;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
}

.phone-social-links-container {
    @media screen and (min-width: 231px) and (max-width: 374px) {
        padding-left: 15px;
    }
    @media screen and (min-width: 375px) {
        padding-left: 6px;
    }
}

.footer-contacts-phone-logo {
    width: 20px;
    height: 20px;
}

.phone-nombers-container {
    display: inline-block;
    width: 100%;
    @media screen and (max-width: 374px) {
        max-width: 140px;
    }
    @media screen and (min-width: 375px) {
        max-width: 153px;
    }
    margin-bottom: 20px;
}

.footer-contacts-phone {
    display: inline-block;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.social-links-container {
    max-height: 29px;
    @media screen and (min-width: 375px) {
        padding-left: 4px;
    }
}

.footer-contacts-viber-logo,
.footer-contacts-telegram-logo {
    width: 29px;
    height: 29px;
}

.about-product-container {
    display: inline-block;
    width: 100%;
    @media screen and (max-width: 230px) {
        max-width: 140px;
    }
    @media screen and (min-width: 231px) and (max-width: 374px) {
        max-width: 181px;
    }
    @media screen and (min-width: 375px) {
        max-width: 151px;
    }
    @media screen and (min-width: 375px) {
        margin-right: 28px;
    }
    margin-bottom: 20px;
}

.shopping-cart-logo {
    width: 21px;
    height: 21px;
}

.links-container {
    padding-top: 16px;
    padding-left: 28px;
    border-left: 1px solid #000000;
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    & :not(:last-child) {
        margin-bottom: 4px;
    }
}

.about-product-link,
.information-link,
.order-link {
    display: block;
    color: #000000;
}

.information-container {
    display: inline-block;
    width: 100%;
    @media screen and (max-width: 230px) {
        max-width: 140px;
    }
    @media screen and (min-width: 231px) and (max-width: 374px) {
        max-width: 181px;
    }
    @media screen and (min-width: 375px) {
        max-width: 141px;
    }
    margin-bottom: 20px;
}

.information-logo {
    width: 21px;
    height: 21px;
}

.order-container {
    display: inline-block;
    width: 100%;
    @media screen and (max-width: 230px) {
        max-width: 140px;
    }
    @media screen and (min-width: 231px) and (max-width: 374px) {
        max-width: 181px;
    }
    @media screen and (max-width: 374px) {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 375px) {
        max-width: 141px;
        margin-right: 34px;
        margin-bottom: 37px;
    }
}

.order-logo {
    width: 21px;
    height: 21px;
}

.call-back-container {
    display: inline-block;
    width: 100%;
    max-width: 145px;
    margin-bottom: 37px;
    text-align: center;
}

.visa-img {
    display: inline-block;
    width: 100%;
    max-width: 116px;
}

.footer-logo {
    display: inline-block;
    width: 100%;
    max-width: 156px;
    margin-bottom: 6px;
}

.footer-bottom-container {
    width: 100%;
    text-align: center;
}

.footer-rights {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #B4B4B4;
}





