.goods-catalog-section {
    padding: 0;
    margin-bottom: 20px;
    text-align: center;
}

.goods-catalog-container {
    @media screen and (min-width: 366px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        & :nth-child(-n + 2) {
            margin-bottom: 10px;
        }
    }
    @media screen and (max-width: 365px) {
        & :not(:last-child) {
            margin-bottom: 10px;
        }
    }
    padding-top: 17px;
    padding-right: 11px;
    padding-bottom: 20px;
    padding-left: 11px;
}

.goods-catalog-title {
    display: inline-block;
    width: 100%;
    max-width: 256px;
    margin-bottom: 25px;
    font-weight: 600;
    @media screen and (max-width: 130px) {
        font-size: 12px;
    }
    @media screen and (min-width: 131px) {
        font-size: 17px;
    }
    line-height: 20px;
}

.goods-catalog-card {
    display: inline-block;
    width: 100%;
    max-width: 172px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.08);
}

.goods-catalog-card-img {
    display: inline-block;
    width: 100%;
    max-width: 142px;
}

.goods-catalog-card-nav-container {
    @media screen and (max-width: 160px) {
        display: inline-block;
        padding-bottom: 5px;
    }
    @media screen and (min-width: 161px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    width: 100%;
    max-width: 153px;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    transform: rotate(0.2deg);
    margin-bottom: 5px;
}

.goods-catalog-card-name-price-container {
    display: inline-block;
    width: 100%;
    max-width: 77px;
    @media screen and (max-width: 160px) {
        text-align: center;
    }
    @media screen and (min-width: 161px) {
        text-align: left;
    }
}

.goods-catalog-card-nav-name {
    display: inline-block;
    width: 100%;
    max-width: 45px;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    text-transform: uppercase;
}

.goods-catalog-card-nav-price {
    display: inline-block;
    width: 100%;
    max-width: 54px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
}

.goods-catalog-card-nav-link {
    display: inline-block;
    width: 100%;
    max-width: 72px;
    height: 23px;
    padding: 5px;
    border: 1px solid #AFCFFF;
    background: rgba(175, 207, 255, 0.31);
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-transform: capitalize;
    color: #66A3FF;
    text-align: center;
}

.goods-catalog-text {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 7px;
    line-height: 9px;
    text-transform: capitalize;
    text-align: left;
}

.goods-catalog-card-buy-link {
    display: inline-block;
    width: 100%;
    max-width: 111px;
    @media screen and (min-width: 163px) {
        height: 23px;
    }
    padding: 6px 5px;
    background: #45B84A;
    font-weight: 600;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #FFFFFF;
}