.work-with-providers-section {
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 30px;
}

.work-with-providers-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
}

.work-with-providers-text {
    font-weight: 500;
    font-size: 13.8774px;
    line-height: 101.19%;
    color: #646464;
}

.left-column-container {
    display: inline-block;
    width: 100%;
    max-width: 167px;
}

.left-column-img {
    display: inline-block;
    width: 100%;
    max-width: 110px;
}

.line-left-img {
    display: inline-block;
    width: 100%;
    max-width: 48px;
}

.left-column {
    text-align: right;
}

.long-line-container {
    display: inline-block;
    width: 100%;
    max-width: 4px;
}

.long-line-img {
    display: inline-block;
}

.right-column-container {
    display: inline-block;
    width: 100%;
    max-width: 167px;
}

.right-column-img {
    display: inline-block;
    width: 100%;
    max-width: 110px;
}

.line-right-img {
    display: inline-block;
    width: 100%;
    max-width: 48px;
}

.right-column {
    text-align: left;
}