.menu-button {
    width: 100%;
    max-width: 20px;
    max-height: 19px;
    padding: 0;
    border: none;
    background-color: #ffffff;
}

.hero-submit-button {
    width: 100%;
    max-width: 356px;
    border-radius: 3px;
    margin-bottom: 11px;
    background: #FF8A00;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}

.button-hiden {
    display: none;
    pointer-events: none;
}

.customs-clearance-button {
    width: 100%;
    max-width: 324px;
    height: 36px;
    border: 1px solid #FF8A00;
    border-radius: 1px;
    background-color: #FFFFFF;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25), 0px 0px 1px #FFFFFF;
}

.cost-calculation-button {
    width: 100%;
    max-width: 324px;
    height: 36px;
    border: 1px solid #FF8A00;
    border-radius: 1px;
    background-color:  #F3F5F6;
    font-family: Gilroy;
    font-weight: 600;
    @media screen and (max-width: 139px) {
        font-size: 12px;
    }
    @media screen and (min-width: 140px) {
        font-size: 16px;
    }
    line-height: 19px;
    text-transform: capitalize;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.25), 0px 0px 1px #FFFFFF;

}

.product-search-button {
    width: 100%;
    max-width: 103px;
    background: #FF8A00;
    border: 1px solid #FF8A00;
    border-radius: 2px;
    font-family: Gilroy;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 5.13056px rgba(255, 255, 255, 0.5);
}

.transportation-button {
    width: 100%;
    max-width: 160px;
    border: none;
    border-radius: 1px;
    background: #FF8A00;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 0.25), 0px 0px 1px #FFFFFF;
}

@media screen and (max-width: 344px) {
    .transportation-form .transportation-button:not(:last-child) {
        margin-bottom: 5px;
    }
}

.goods-catalog-button {
    width: 100%;
    max-width: 84px;
    height: 17px;
    padding-left: 0;
    padding-right: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #FF8A00;
    border-left: 0;
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #4F4F4F;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.read-more-button {
    width: 100%;
    max-width: 84px;
    height: 15px;
    padding-right: 0;
    padding-left: 0;
    border: none;
    background: transparent;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.5);
}

.call-back-button {
    width: 100%;
    max-width: 145px;
    @media screen and (min-width: 186px) {
        height: 40px;
    }
    padding: 10px 9px;
    border: none;
    border-radius: 3px;
    background: #45B84A;

    font-family: Roboto;
    font-weight: 400;
    @media screen and (max-width: 120px) {
        font-size: 12px;
    }
    @media screen and (min-width: 121px) {
        font-size: 16px;
    }
    line-height: 19px;
    color: #FFFFFF;
    text-shadow: 0px 0px 12.7706px rgba(255, 255, 255, 0.5);
}

.modal-close-button {
    width: 100%;
    max-width: 17px;
    height: 17px;
    padding: 0;
    border: none;
    background-color: #ffffff;
}